* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html{
    overflow-x: hidden;
}

.container {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
    padding: 32px;
}

h1{
    font-style: italic;
}

h2{
    color: rgb(62, 154, 230);
    border-bottom: rgb(62, 154, 230) solid 3px;
    font-style: italic;
    padding: 16px;
}

.sneacker button{
    display: block;
    width: 100%;
    padding: 8px;
    border: none;
    background-color: rgb(62, 154, 230);
    color: #fff;
    font-weight: bold;
    margin-right: 32px;
    text-decoration: none;
    cursor: pointer;
    border-radius: 4px;
    margin-top: 8px;
}


header li a{
    font-size: 16px;
    text-decoration: none;
    color: #fff;
    margin-right: 16px;
    font-weight: bold;
}

header ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
}


header, footer {
    background-color: rgb(62, 154, 230);
    color: #fff;
}

header > .container,
footer > .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 16px;
}


.container-flex{
    display: flex;
}

#about{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    margin-right: 60px;
    margin-bottom: 40px;
    align-items: center;
}

#about p{
    line-height: 24px;
}

.about-store img{
    display: block;
    max-width: 100%;
}

.about-store-content{
    margin-right: 60px;
}

section{
    padding: 48px 0;
}

section h2 {
    margin-bottom: 16px;
}

#products{
    margin-bottom: 60px;
}

#products .sneacker{
    display: flex;
}

#products .sneacker .sneacker-item{
    display: grid;
    justify-content: center;
    gap: 8px;
    max-width: 100%;
    padding: 12px;
}

.sneacker-item img{
    max-width: 100%;
}

p{
    padding-bottom: 8px;
}

h3{
    padding-bottom: 8px;
}

#products li{
    display: block;
}

footer{
    display: flex;
    justify-content: center;
    padding: 16px;
    font-size: 1.3em;
}

.content{
    display: grid;
    grid-template-columns: 100%;
    justify-content: center;
}

@media screen and (max-width: 1024px) {
    #about {
    grid-template-columns: 1fr;
    justify-items: center;
    }

    #products .sneacker {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    gap: 32px;
    row-gap: 45px;
    width: 100%;
    }
}

@media screen and (max-width:640px){
    
    #products .sneacker{
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
        width: 100%;
    }

    #products button{
        padding: 8px 16px;
        font-size: 1rem;
    }

    header ul{
        display: block;

    }
    
    #about{
        margin-right: 0;
        margin-bottom: 30px;
    }

    h2{
        font-size: 1.85rem;
        margin-bottom: 10px;
    }

    footer p{
        font-size: 1rem;
    }


}
